body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/Finance1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    margin: 0;
    justify-content: center;
}
/* Design for the header */
div {
    background-color: mediumpurple;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    text-transform: uppercase;
    padding: 6px;
    
}
div:hover{
    opacity: 0.7;
}

line {
    background-color: mediumpurple;
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 5px;
}

    line li {
        display: inline-block;
        font-size: 30px;
        padding: 20px;
    }
/* Styling the navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
}

    .topnav a {
        font-size: 10px;
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

/* Designing and creating a form */
.form-container {
    width: 40%;
    left: 30%;
    color: black;
    font-size: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-spacing: 20px;
}
.form-container input[type=text], select {
    width: 100%;
    padding: 9px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightblue;
    color: black;
    display: inline-block;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    border-block-end-style: dashed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    .form-container input[type=date], input[type=submit] {
        width: 100%;
        padding: 9px 30px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: lightblue;
        color: black;
        display: inline-block;
        border: 1.5px solid #ccc;
        border-radius: 4px;
        border-block-end-style: dashed;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    input[type=submit]:hover{
        background-color: lightgreen;
    }
.footer {
    border-spacing: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
    color: black;
}