################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMPG223_project/.vs/CMPG223_project/FileContentIndex/810c101f-deb3-46d1-8166-4ffc429e4e62.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/b7386cd6-0578-4615-a5e9-18b27866013b.vsidx
/.vs/CMPG223_group20(0)/FileContentIndex/7c32e014-af27-41f7-aef2-3faa568088c1.vsidx
CMPG223_project/.vs/CMPG223_project/FileContentIndex/2464262a-3700-4447-ab2c-611bdf08b60e.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/92fbc766-fd85-41e3-885e-dd38cbec4c4e.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/0572f990-485a-4021-a182-eb728ae209ee.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/4d51b49d-516c-49d6-af90-9446b51fdf9b.vsidx
CMPG223_project/App_Data/OrganizationDatabase.mdf
CMPG223_project/App_Data/OrganizationDatabase.mdf
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/3910f957-b48d-4a31-9f6f-8aa9b1011118.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/39bc5773-1c35-45db-b8da-5c93e04856f9.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/4924c86d-204f-4386-a03e-baf5c43cc7ed.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/f95a224d-2d52-477d-84c1-f50924ce5b63.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/1a19a7a3-aaa5-4093-be1d-ec11cab10c33.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/57b42fdb-743c-4fc6-9404-d1ea4df4fa44.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/8b6ac603-2f51-44d2-a802-6a74e6ee0af1.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/9c70717e-d564-4cb3-a7a9-707888193bf2.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/e236d4d9-9b8a-451b-98ff-f64ed51145c0.vsidx
