################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMPG223_project/.vs/CMPG223_project/FileContentIndex/810c101f-deb3-46d1-8166-4ffc429e4e62.vsidx
/CMPG223_project/.vs/CMPG223_project/FileContentIndex/b7386cd6-0578-4615-a5e9-18b27866013b.vsidx
